$goldColor : #ffdc4e;
$goldColorBackground : #fcf6de70;
$lightBlueColorBackground : #c4dffc;
$blueColorBackground : #1c6ed0;
$darkBlueColorBackground : #14539c;
$darkBlueColorBackground2 : #061d34;
$whiteColorBackground : whitesmoke;
$darkColorBackground : #1e1e1a;
$fontFamily : 'Inter', sans-serif;
$backgroundimage: linear-gradient(to right, $blueColorBackground, $darkBlueColorBackground);